/*
Theme Name: Flatsome Child
Description: This is a child theme for Flatsome Theme
Author: UX Themes
Template: flatsome
Version: 3.0
*/

/*************** ADD CUSTOM CSS HERE.   ***************/


@media only screen and (max-width: 767px) {
/*************** ADD MOBILE ONLY CSS HERE  ***************/
    div.calculator-settings {margin: 0;}
    div.calc-container .calc-list {padding: 0!important; min-height: auto;}
}